@import "variables";

.content h3 {
    font-size: 1.4rem;
}

// .content h1 {
//     margin-top: 3.5rem;
// }

.content {
    font-family: $Merriweather;
}

ul {
    font-size: 0.9em;

}

#experience, #technical-skills, #projects, #other-interests {
    margin-top: 3.5rem;
}

// #software-development-engineer-intern {
//     margin-top: 3rem;
// }