// https://getbootstrap.com/docs/3.4/css/#grid-options
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1400px;

// DESIGN MOBILE FIRST, DESKTOP 2ND
$background: black;
$Merriweather: 'Merriweather', serif;
$Handlee: 'Handlee', serif;
$FiraSans: 'Fira Sans', sans-serif;